{block content}

<h3 n:block="title">Seznam produktů</h3>


<div class="btn-group mt-3">
	<a href="{link Products:edit}" class="btn btn-warning">Nový produkt</a>
</div>

<div class="row mt-4">
	{control productsDataGrid}
</div>
