{varType int $productId}

{block content}

<script>
    tinymce.init({
        selector: 'textarea#frm-productsForm-description',
        promotion: false
    });
</script>

<h3 n:block="title" class="mb-4">{if $productId}Úprava{else}Přidání{/if} produktu</h3>

{control productsForm}