{varType App\Model\Orm\Carts\Cart $cart}

{if $cart->totalCount > 0}
    <div class="row g-5">
        <div class="col-12 col-lg-7">
            {foreach $cart->cartItems as $cartItem}
                <div class="row border-bottom align-items-center py-2">
                    <div class="col-6">
                        <a href="{plink :Public:Products:show productId => $cartItem->product->id}" class="fw-medium fs-5 link-dark link-opacity-75-hover text-decoration-none">{$cartItem->product->name}</a>
                    </div>
                    <div class="col-2">
                        <span class="mx-1">{$cartItem->quantity} ks</span>
                    </div>
                    <div class="col-2 me-4">
                        {if $cartItem->product->galleonPrice > 0}
                            <div class="d-flex flex-row mb-1 align-items-center">
                                <span class="text-end fw-medium">{$cartItem->product->galleonPrice}</span>
                                <img src="{$basePath . '/img/galleon.png'}" alt="" class="ms-2"
                                     style="width:25px; height: 25px">
                            </div>
                        {/if}
                        {if $cartItem->product->sicklePrice > 0}
                            <div class="d-flex flex-row mb-1 align-items-center">
                                <span class="text-end fw-medium">{$cartItem->product->sicklePrice}</span>
                                <img src="{$basePath . '/img/sickle.png'}" alt="" class="ms-2"
                                     style="width:25px; height: 25px">
                            </div>
                        {/if}
                        {if $cartItem->product->knutPrice > 0}
                            <div class="d-flex flex-row mb-1 align-items-center">
                                <span class="text-end fw-medium">{$cartItem->product->knutPrice}</span>
                                <img src="{$basePath . '/img/knut.png'}" alt="" class="ms-2"
                                     style="width:25px; height: 25px">
                            </div>
                        {/if}
                    </div>
                    <div class="col-1">
                        <a href="{link removeCartItem! $cartItem->id}" class="small link-danger link-opacity-75-hover text-decoration-none">Odebrat</a>
                    </div>
                </div>
            {/foreach}

            <div class="mt-4">
                <a href="{link emptyCart!}" class="btn btn-sm btn-outline-danger">Vyprázdnit košík</a>
            </div>
        </div>

        <div class="col-12 col-lg-5">
            <div class="border bg-light bg-gradient rounded-3 p-4">
                <h4 class="">Souhrn</h4>
                <div class="row mt-3">
                    <div class="col-6">
                        <p class="fw-medium small">Celková cena</p>
                    </div>
                    <div class="col-3">
                        {if $cartItem->product->galleonPrice > 0}
                            <div class="d-flex flex-row mb-1 align-items-center">
                                <span class="text-end fw-medium">{$cart->totalPrice['galleon']}</span>
                                <img src="{$basePath . '/img/galleon.png'}" alt="" class="ms-2"
                                     style="width:25px; height: 25px">
                            </div>
                        {/if}
                        {if $cartItem->product->sicklePrice > 0}
                            <div class="d-flex flex-row mb-1 align-items-center">
                                <span class="text-end fw-medium">{$cart->totalPrice['sickle']}</span>
                                <img src="{$basePath . '/img/sickle.png'}" alt="" class="ms-2"
                                     style="width:25px; height: 25px">
                            </div>
                        {/if}
                        {if $cartItem->product->knutPrice > 0}
                            <div class="d-flex flex-row mb-1 align-items-center">
                                <span class="text-end fw-medium">{$cart->totalPrice['knut']}</span>
                                <img src="{$basePath . '/img/knut.png'}" alt="" class="ms-2"
                                     style="width:25px; height: 25px">
                            </div>
                        {/if}
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-warning fw-medium" style="width:100%">K objednávce</button>
                </div>
            </div>
        </div>
    </div>
{else}
    <div class="alert alert-warning" role="alert">

        <h5 class="alert-heading">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                 class="bi bi-basket3 me-2 mb-1" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM3.394 15l-1.48-6h-.97l1.525 6.426a.75.75 0 0 0 .729.574h9.606a.75.75 0 0 0 .73-.574L15.056 9h-.972l-1.479 6h-9.21z"/>
            </svg>
            Košík není naplněn žádnými kouzelnými poklady!
        </h5>
        <hr>
        <p class="mb-0">
            Možná je čas vydat se na dobrodružství do světa magie a objevit ty nejúžasnější
            předměty ze světa Harryho Pottera.
        </p>
    </div>
{/if}
