nextras.dbal:
    driver: mysqli
    host: localhost
    database: andj10
    username: andj10
    password: yohg3eif4Eewoo3ahk
    connectionTz: auto-offset

php:
    date.timezone: Europe/Prague
    error_reporting: E_ALL &~E_USER_WARNING