services:
	- App\Router\RouterFactory::createRouter
	- App\Model\Authenticator\Authenticator
	- App\Model\Uploader\Uploader

search:
	- in: %appDir%
		classes:
			- *Factory
			- *Facade
			- *Datagrid
