services:
	- App\Router\RouterFactory::createRouter
	- App\Model\Authenticator\Authenticator
	- App\Model\Uploader\Uploader
	- App\Model\Authorizator\Authorizator
	- App\Model\MailSender\MailSender
	- Latte\Engine

search:
	- in: %appDir%
		classes:
			- *Factory
			- *Facade
			- *Datagrid
