services:
	- App\Router\RouterFactory::createRouter
	- App\Model\Authenticator\Authenticator
	- App\Model\Uploader\Uploader
	- App\Model\Authorizator\Authorizator
	- App\Model\MailSender\MailSender
	- App\Model\InvoiceGenerator\InvoiceGenerator
	- Latte\Engine
	- App\Settings(%mail%)
	- App\Model\Api\Facebook\FacebookApi(%facebook.appId%, %facebook.secret%)

search:
	- in: %appDir%
		classes:
			- *Factory
			- *Facade
			- *Datagrid
