{varType App\Model\Orm\Products\Product $product}

<div class="col">
    <div class="card">
        <a href="{plink :Public:Products:show productId => $product->id}">
            <div class="d-flex justify-content-center">
                {foreach $product->productPhotos as $productPhoto}
                    {if $iterator->first}
                        <img src="{$basePath}{$productPhoto->path}" alt="" class="w-75">
                    {/if}
                {/foreach}
            </div>
        </a>
        <div class="card-body">
            <div class="container">
                <div class="d-flex justify-content-between mb-2">
                        <div class="d-flex flex-row">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-star-fill text-warning me-1" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                            <div class="small text-center">{$product->avgStars}</div>
                        </div>
                    <span class="badge text-bg-light">{$product->category->name}</span>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="{plink :Public:Products:show productId => $product->id}"
                           class="text-decoration-none link-dark link-opacity-75-hover text-decoration-none">
                            <h5 class="card-title">{$product->name}</h5>
                        </a>
                    </div>
                    <p class="small">{$product->summary}</p>
                </div>
                <div class="row">
                    <div class="col-12">
                    </div>
                </div>
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        {if $product->galleonPrice > 0}
                            <div class="d-flex flex-row mb-1 align-items-center">
                                <span class="text-end fw-medium">{$product->galleonPrice}</span>
                                <img src="{$basePath . '/img/galleon.png'}" alt="galeony" title="galeony" class="ms-2"
                                     style="width:25px; height: 25px">
                            </div>
                        {/if}
                        {if $product->sicklePrice > 0}
                            <div class="d-flex flex-row mb-1 align-items-center">
                                <span class="text-end fw-medium">{$product->sicklePrice}</span>
                                <img src="{$basePath . '/img/sickle.png'}" alt="srpce" title="srpce" class="ms-2"
                                     style="width:25px; height: 25px">
                            </div>
                        {/if}
                        {if $product->knutPrice > 0}
                            <div class="d-flex flex-row mb-1 align-items-center">
                                <span class="text-end fw-medium">{$product->knutPrice}</span>
                                <img src="{$basePath . '/img/knut.png'}" alt="svrčky" title="svrčky" class="ms-2"
                                     style="width:25px; height: 25px">
                            </div>
                        {/if}
                    </div>
                    <div class="col-6 text-center">
                        <div class="{if $product->stock > 0}text-success{else}text-danger{/if} small fw-medium mb-2">
                            Skladem {$product->stock} ks
                        </div>

                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    {form addProductToCartForm}
                        <div class="d-flex flex-row">
                            {input quantity, class:'form-control form-control-sm me-1', style:'width:50px'}
                            <button type="submit" class="btn btn-warning btn-sm fw-medium">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                     class="bi bi-basket2 text-dark pb-1" viewBox="0 0 16 16">
                                    <path d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0z"/>
                                    <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6H2.163z"/>
                                </svg>
                                Do košíku
                            </button>
                        </div>
                    {/form}
                </div>

            </div>
        </div>
    </div>
</div>

