

{block content}

<div class="row">
    <div class="col-12 col-lg-6">
        <h3>Správa kategorií</h3>
    </div>
    <div class="col-12 col-lg-6 text-lg-end">
        <a href="{plink Categories:add}" class="btn btn-warning">Přidat novou kategorii</a>

    </div>
</div>


<div class="mt-3 mb-4">
</div>

<div class="row">
    {control categoriesDataGrid}
</div>