{block content}

<h3 class="mb-4">Správa kategorií</h3>

<a href="{plink Categories:add}" class="btn btn-warning mb-4">Přidat novou kategorii</a>

<div class="row">
    {control categoriesDataGrid}
</div>