{varType Nette\Security\User $user}


{if $user->isLoggedIn()}
    <!--Desktop dropdown-->
    <div class="dropdown d-none d-lg-block">
        <button class="btn btn-dark dropdown-toggle px-3 py-1" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
            {$user->getIdentity()->getData()['name']}
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="{plink Profile:default}">Můj profil</a></li>
            {if $user->isInRole('customer')}
                <li><a class="dropdown-item" href="">Moje objednávky</a></li>
            {/if}
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{link logout!}">
                    Odhlásit se
                    <span class="bi bi-box-arrow-right ms-2"></span>
                </a></li>
        </ul>
    </div>

    <!--Mobilní dropdown-->
    <div class="dropdown d-block d-lg-none">
                        <span id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" class="px-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                                 class="bi bi-person-fill" viewBox="0 0 16 16">
                              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                            </svg>
                        </span>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
            {if $user->isInRole('customer')}
                <li>
                    <a class="dropdown-item" href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                             class="bi bi-heart-fill text-dark me-2" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                        </svg>
                        Oblíbené
                    </a>
                </li>
                <li><a class="dropdown-item" href="">Moje objednávky</a></li>
            {/if}
            <li><a class="dropdown-item" href="{plink Profile:default}">Můj profil</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{link logout!}">
                    Odhlásit se
                    <span class="bi bi-box-arrow-right ms-2"></span>
                </a></li>
        </ul>
    </div>
{else}

    <!--Desktop UserLoginControl -->
    <div class="d-none d-lg-block">
        <a href="{link login!}" class="btn btn-dark text-white px-3 py-1 me-2">
            Přihlásit
        </a>
        <a href="{link registration!}" class="btn btn-outline-dark px-3 py-1">
            Registrace
        </a>
    </div>

    <!--Mobilní UserLoginControl-->
    <div class="d-block d-lg-none">
        <a href="{link login!}" class="text-dark px-3 py-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                 class="bi bi-person" viewBox="0 0 16 16">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664z"/>
            </svg>
        </a>
    </div>

{/if}

