{block content}

<h1 n:block=title>Profil</h1>

<div class="btn-group mt-2">
	<a href="{link ChangePassword:default}" class="btn btn-secondary">Změna hesla</a>
	<a href="#" class="btn btn-secondary">Úprava profilu</a>
</div>
