{varType App\Model\Orm\Products\Product $product}

{block content}

<div class="row mb-4">
    <div class="col-12">
        <!-- TODO: lepší by byl breadcrumb -->
        <a href="{plink :Public:Products:default}" class="text-dark text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-arrow-left me-2" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
            Zpět na seznam produktů
        </a>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <h4>{$product->name}</h4>
    </div>
</div>

<div class="row g-5 mb-5">
    <div class="col-12 col-md-6">
        {foreach $product->productPhotos as $productPhoto}
            {if $iterator->first}
                <img src="{$basePath}{$productPhoto->path}" alt="" style="max-width: 100%">
            {/if}
        {/foreach}
    </div>
    <div class="col-12 col-md-6">
        <div class="row">
            <div class="col-12-mb-3">
                <p>{$product->summary}</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <div class="{if $product->stock > 0}text-success{else}text-danger{/if} small fw-medium mb-2">
                    Skladem {$product->stock} ks
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-start mb-3">
            <div class="col-6">
                <div class="row g-2">
                    <div class="col-3"><h6 class="text-end">{$product->galleonPrice}</h6></div>
                    <div class="col-3"><h6>G</h6></div>
                </div>
                <div class="row g-2">
                    <div class="col-3"><h6 class="text-end">{$product->sicklePrice}</h6></div>
                    <div class="col-3"><h6>Sr</h6></div>
                </div>
                <div class="row g-2">
                    <div class="col-3"><h6 class="text-end">{$product->knutPrice}</h6></div>
                    <div class="col-3"><h6>Sv</h6></div>
                </div>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-warning fw-medium py-2 px-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-basket2 text-dark pb-1 me-1" viewBox="0 0 16 16">
                        <path d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0z"/>
                        <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6H2.163z"/>
                    </svg>
                    Přidat do košíku
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row mb-5">
    <div class="col-12">
        <h5>Popis produktu</h5>
        <p>
            {$product->description}
        </p>
    </div>
</div>

<div class="row mb-3">
    <div class="col-8">
        <h5>Recenze</h5>

        {foreach $product->reviews as $review}
            <div class="card mb-2">
                <div class="card-body">
                    <div class="small">
                        Hodnocení: {$review->stars}
                    </div>
                    <div class="small">
                        Autor recenze:
                        {if $review->user}
                            <span class="text-secondary">{$review->user->name}</span>
                        {else}
                            <span class="text-secondary">Anonym</span>
                        {/if}
                    </div>
                    <p class="card-text">{$review->text}</p>
                </div>
            </div>
        {else}
            <p>Žádné recenze</p>
        {/foreach}

    </div>
</div>